<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abucloud.mapper.UserInfoMapper">
    <insert id="insertUser">
        INSERT INTO `k-test-db`.`tb_user_info`
        (`user_id`, `login_account`, `password`, `username`, `dept_id`, `data_status`, `create_by`,
         `create_time`,
         `update_by`, `update_time`, `record_version`, `update_count`)
        VALUES (#{userId},
                #{loginAccount},
                #{password},
                #{username},
                #{deptId},
                #{dataStatus},
                #{createBy},
                #{createTime},
                #{updateBy},
                #{updateTime},
                #{recordVersion},
                #{updateCount})
    </insert>
    <insert id="insertOneUser">
    </insert>

    <delete id="deleteBatch">
        DELETE
        FROM tb_user_info
        WHERE user_id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <resultMap id="userInfoMap" type="com.abucloud.bo.UserInfoBO">
        <id column="user_id" property="userId"/>
        <collection property="loginAccountList" ofType="com.abucloud.entity.TbUserInfo">
            <id column="user_id" property="userId"/>
            <result column="login_account" property="loginAccount"/>
        </collection>
    </resultMap>

    <sql id="selectListSql">
        SELECT *
        FROM tb_user_info
    </sql>


    <select id="selectList" resultMap="userInfoMap">
        <include refid="selectListSql">
        </include>
    </select>

    <select id="selectOne" resultType="com.abucloud.entity.TbUserInfo">
        SELECT *
        FROM tb_user_info
        WHERE user_id = #{userId}
    </select>

    <select id="selectRoleByCondition" resultType="com.abucloud.bo.UserRoleBO">
        SELECT t1.user_id,
               t1.login_account,
               t3.role_id,
               t3.role_name
        FROM tb_user_info t1
                 LEFT JOIN tb_user_role_relation t2 ON t1.user_id = t2.user_id
                 LEFT JOIN tb_role_info t3 ON t3.role_id = t2.role_id
        <where>
            <if test="userId != null">
                and t1.user_id = #{userId}
            </if>
            <if test="loginAccount != null and loginAccount != ''">
                AND t1.login_account = #{loginAccount}
            </if>
        </where>
    </select>

    <select id="queryPagePhysics" resultType="com.abucloud.entity.TbUserInfo">
        SELECT user_id userId
        FROM tb_user_info
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="queryPageLogic" resultType="com.abucloud.entity.TbUserInfo">
        SELECT user_id userId, open_Id, login_account
        FROM tb_user_info
        <where>
            <if test="userId != null">
                <choose>
                    <when test="loginAccount != null and loginAccount != ''">
                        login_account = #{loginAccount}
                    </when>
                    <otherwise>
                        AND user_id = #{userId}
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <insert id="insertBatch">
        INSERT INTO `tb_user_info`(`login_account`, `password`, `username`, `dept_id`, `data_status`, `create_by`,
                                   `create_time`,
                                   `update_by`, `update_time`, `record_version`, `update_count`)
        VALUES
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.loginAccount},
             #{entity.password},
             #{entity.username},
             #{entity.deptId},
             #{entity.dataStatus},
             #{entity.createBy},
             #{entity.createTime},
             #{entity.updateBy},
             #{entity.updateTime},
             #{entity.recordVersion},
             #{entity.updateCount})
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach collection="userInfoList" item="item" separator=";">
            UPDATE tb_user_info
            <set>
                <if test="item.loginAccount != null and item.loginAccount != ''">
                    login_account = #{item.loginAccount},
                </if>
                <if test="item.dataStatus != null and item.dataStatus != ''">
                    login_account = #{item.dataStatus},
                </if>
            </set>
            WHERE user_id = #{item.userId}
        </foreach>
    </update>
</mapper>